header .about-banner .bgc .topic .span-sub{
    width: 120%;
    text-align: end;
}
@media screen and (max-width:850px){
    header .about-banner .circle{
        left: -10%;
    }

    header .about-banner .bgc .topic{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
    }
    header .about-banner .bgc .topic .span-pri{
        font-size: 30px;
        padding-left: 8%;
    }
    header .about-banner .bgc .topic .span-sub{        
        width: 100%;
        font-size: 24px;
        letter-spacing: 0.16em;
        padding-right: 5%;
        box-sizing: border-box;
    }
}
@media screen and (max-width:400px){
    header .about-banner .circle{
        left: -5%;
    }
    header .about-banner .bgc .topic .span-pri{
        font-size: 24px;
    }
    header .about-banner .bgc .topic .span-sub{
        width: 100%;
        font-size: 18px;
    }
}

/* 以上banner */

.about-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    /* padding-inline: 25%; */
    gap: 50px;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-container .pic img{
    width: 100%;

}
.about-container .txt{
 padding-top: 45px;
}

@media screen and (max-width:850px){
    .about-container{
        grid-template-columns: repeat(1, 1fr);
        max-width: 400px;
        gap: 0;
        padding-inline: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .about-container div:nth-child(3){
        grid-row: 4;
    }
    .about-container div:nth-child(4){
        grid-row: 3;
    }
    .about-container .txt{
        padding-top: 0;
        padding-bottom: 10px;
    }


    .about-container h3{
        font-size: 28px;
        text-align: center;
    }
}
@media screen and (max-width:400px){
    .about-container h3{
        font-size: 20px;
    }
}
/* 以下品牌 */

.brand-container{
    display: flex;
    /* background: url(./img/footer-bg.png); */

}
.brand-container .left{
    width: 55%;
}
.brand-container .left img{
    width: 100%;
    vertical-align: middle;
}
.brand-container .right{
    width: 45%;
    color: #fff;
    box-sizing: border-box;
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.brand-container .right h3{
    font-size: 28px;
}
.brand-container .right p{
    font-size: 16px;
}
@media screen and (max-width:850px){
    .brand-container{
        display: block;
    }
    .brand-container .right h3{
        font-size: 20px;
        text-align: center;
    }
    .brand-container .left{
        margin: auto;
        width: 100%;
    }
    .brand-container .right{
        padding-top: 15px;
        padding-bottom: 20px;
        width: 100%;
        padding-inline: 50px;
    }
}



