
.bread{
    max-width: 1200px;
}
/* 以下圖片區*/
@media screen and (min-width:1201px){
.works-outer-container{
    position: relative;
}

.works-container {
    max-width: 1200px;
    /* background-color: #c4a5a5; */
    margin: 180px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);/*三欄，每欄一等份*/
    grid-auto-flow: row dense;/*有洞就會補上來*/
    gap: 20px;
    /* position: relative; */

}
.works-item {
    font-size: 0px;
    width: calc(1160 / 3)px;
    height: 294.5px;
    position: relative;
    transition: 1s;
}

.works-item img{
    vertical-align:middle;
    width: 100%;
}

.works-item:nth-child(12n+1),
.works-item:nth-child(12n+7) {
    grid-column-end: span 2;
    grid-row-end: span 2;
    /* background-color: #fa0; */
    width: calc(2380 / 3)px;
    height: 609px;
    overflow: hidden;
}
.works-item:nth-child(12n+7) {
    grid-column-start: 2;
}

.works-item .hover{
    content:"";
    position: absolute;
    background-color: rgb(0,0,0,0.4);
    width: 339px;
    height: 246.5px;
    top: 24px;
    left: 24px;   
    display: flex;
    opacity: 0;
}
.works-item .hover .x{
    display: none;
}
.works-item:nth-child(12n+1) .hover,
.works-item:nth-child(12n+7) .hover{
    width: 745px;
    height: 561px;
}

.works-item .hover .txt{
    width: 60%;
    margin: auto;
}
.works-item:nth-child(12n+1) .hover .txt,
.works-item:nth-child(12n+7) .hover .txt{
    width: 45%;
}

.works-item .hover h3{
    color: #fff;
    font-weight: normal;
}
.works-item .hover p{
    color: #fff;
    font-weight: 300;
}

.works-item a{
    text-decoration: none;
}


.works-item:hover :nth-child(2){
    opacity: 1;
    transition: 0.5s;

}

.block-left{
    width:40%;
    height: 150px;
    position: absolute;
    background: url(./img/footer-bg.png);
    top: 10%;
}
.block-right{
    width: 40%;
    height: 150px;
    position: absolute;
    background: url(./img/footer-bg.png);
    right: 0;
    top: 60%;
}

.block-bottom{
    width: 100%;
    height: 150px;
    position: absolute;
    background: url(./img/footer-bg.png);
    top: 96%;
    left: 0%;
}
}
@media screen and (max-width:1200px){
    .bread{
        margin-left:10%;
    }
    [class*="block-"]{
        display: none;
    }
    .works-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-inline: 10%;
        margin-top: 80px;
        gap: 20px;
    }
    .works-item{
        display: flex;
        width: 100%;
        margin: auto;
        /* margin-top: 20px; */
        position: relative;
        aspect-ratio: 440/335;
    }
    .works-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 


    /* .works-item:nth-child(12n+1),
    .works-item:nth-child(12n+7){
        width: 100%;

    } */
    .works-container .hover.-on{
        position: absolute;
        width: 100%;
        height: 100%;
        /* margin: 5%; */
        background-color: rgb(0,0,0,0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .works-container .hover{
        display: none;
    }
    .works-item .hover .x{
        font-size: 30px;
        color: #fff;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .works-container .hover .txt{
        margin: 8%;
        
    }
    .works-container .hover h3{
        font-size: 20px;
        margin: 0;
        color: #fff;
        font-weight: 400;
    }
    .works-container .hover p{
        margin-bottom: 0;
        color: #fff;
    }
}
@media screen and (max-width:850px){
    .works-container{
        grid-template-columns: 1fr;
        margin-bottom: 80px;
    }
}
@media screen and (max-width:400px){
    .works-container .hover h3{
        font-size: 20px;
        margin: 0;
        color: #fff;
        font-weight: 400;
    }
    .works-container .hover p{
        margin-bottom: 0;
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        margin-top: 5px;
    }
}