header .works-banner{
    height: 100vh;
    display: flex;
}

header .works-banner .bgc{
    width: 50%;
    height: 100%;
    overflow: hidden;
    background: url(./img/footer-bg.png);
}

header .works-banner .bgc .topic{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 54%;
    top: 40%;
    left: 17%;
    z-index: 1;
}
header .works-banner .circle{
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background-color: #F3F2F1;
    position: absolute;
    left: 10%;
    top: 33%;
    z-index: 1;
}
header .works-banner .bgc .topic :nth-child(1){
    font-size: 28px;
    font-family: "Noto serif TC";
    color: #988475;
    letter-spacing: 0.2em;
    font-weight: 600;
    margin-bottom: 10px;
}

header .works-banner .bgc .topic :nth-child(2){
    font-size: 40px;
    font-family: "Noto serif TC";
    color: #988475;
    letter-spacing: 0.2em;
    font-weight: 600;
    margin-bottom: 50px;

    /* text-align: end; */
}
header .works-banner .bgc .topic :nth-child(3){
    font-size: 16px;
    width: 40%;
    /* font-family: "Noto serif TC"; */
    color: #988475;
    letter-spacing: 0.16em;
    line-height: 2;
}
header .works-banner .work1-big{
    height: 100vh;
    width: 50%;
    overflow: hidden;

}

header .works-banner .work1-big img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 52%;
    vertical-align: middle;
}
@media screen and (max-width:1200px){
    header .works-banner .bgc{
        width: 40%;
    }
    header .works-banner .work1-big{
        width: 60%;
    }
    header .works-banner .bgc .topic {
        top: 50%;
        left: 5%;
        transform: translateY(-40%);
    }
    header .works-banner .circle{
        left: 0;
        top: 25%;
    }
    header .works-banner .bgc .topic :nth-child(3){
        width: 60%;
    }
    @media screen and (max-height:535px){
        header .works-banner .bgc .topic :nth-child(1){
            font-size: 20px;
            margin-top: 70px;
            margin-bottom: 5px;
        }
        header .works-banner .bgc .topic :nth-child(2){
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width:850px){
    header .works-banner{
        display: block;
        height: 800px;
    }
    header .works-banner .bgc{
        width: 100%;
        height: 50%;
        position: relative;
    }
    header .works-banner .work1-big{
        width: 100%;
        height: 50%;
    }
    header .works-banner .bgc .topic{
        top: 140px;
        left: 10%;
        transform: translateY(0);
        width: 80%;
        margin-top: 0;
    }
    header .works-banner .circle{
        top: 120px;
    }
    header .works-banner .bgc .topic :nth-child(1){
        margin-top: 0;
        font-size: 24px;
    }
    
    header .works-banner .bgc .topic :nth-child(2){
        margin-bottom: 10px;
        font-size: 32px;
    }
    header .works-banner .bgc .topic :nth-child(3){
        width: 100%;
    }
}
@media screen and (max-width:400px){
    header .works-banner{
        display: block;
        height: 650px;
    }
    header .works-banner .bgc{
        height: 60%;
    }
    header .works-banner .circle{
        top: 70px;
    }
    header .works-banner .work1-big{
        height: 40%;
    }
    header .works-banner .bgc .topic{
        top: 115px;
    }
    header .works-banner .bgc .topic :nth-child(1){
        margin-bottom: 10px;
        font-size: 18px;
    }
    header .works-banner .bgc .topic :nth-child(2){
        margin-bottom: 10px;
        font-size: 24px;
    }

}
.bread{
    max-width: 1200px;
    /* margin-left: 20px; */
}
@media screen and (max-width:1200px){
    .bread{
        margin-left: 20px;
    }
}
.work-outer-container{
    position: relative;
    overflow: hidden;
    padding-bottom: 120px;
}
/* .work-outer-container-top{
    position: relative;
    margin-right: 0;
    margin-left: 100%;
    width: 50%;
    height: 500px;
    position: absolute;
    right: 0;
    border: 1px solid #000;
} */

.work-container-top{
    width: 100%;
    max-width: 1200px;
    /* width: 1200px; */
    margin: auto;
    display: flex;
    margin-top: 150px;
    position: relative;
}

.work-container-top .pic{
    width: 50%;
}

.work-container-top .pic img{
    width: 100%;
}
.work-container-top .txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.work-container-top .txt .inner-txt{
    width: 55%;
    margin: auto;
    margin-left: 20%;
    margin-top: 18%; 
    /* height:50%; */

}
.work-container-top .txt h3{
    margin-bottom: 2em;
    font-size: 32px;
}


.work-container-middle{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 150px;
    margin-bottom: 400px;
    position: relative;
}

.work-container-middle .txt{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.work-container-middle .txt .inner-txt{
    width: 50%;
    min-width: 269px;
    margin: auto;
    margin-top: 0;
    /* height:80%; */

}
.work-container-middle .txt h3{
    margin-bottom: 2em;
    font-size: 32px;
}
.work-container-middle .pic{
    width: 50%;
    height: 30vw;
    max-height: 349px;
    display: flex;
    position: relative;
}

.work-container-middle .pic .pic1{
    position: absolute;
    width: 50%;
    top: -10%;
}
.work-container-middle .pic .pic1 img{
    width: 100%;
}
.work-container-middle .pic .pic2{
    position: absolute;
    left: 60%;
    top: 30%;
    width: 40%;

}
.work-container-middle .pic .pic2 img{
    width: 100%;
}
.work-container-middle .pic .pic3{
    position: absolute;
    top: 130%;
    left: 15%;
    width: 35%;
}
.work-container-middle .pic .pic3 img{
    width: 100%;
}

.work-container-bottom{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /* display: flex; */
    margin-top: 150px;
    /* margin-bottom: 250px; */
    position: relative;
}
.work-container-bottom .txt{
    width: 35%;
    margin: auto;
    /* min-width: 420px;s */
    /* border: 1px solid #000; */
}
@media screen and (min-width:1101px){
    .work-container-bottom .txt{

    transform: translateY(15%);
    }
}

.work-container-bottom .txt h3{
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;

}
.work-container-bottom .pic{
    width: 100%;
    max-width: 1200px;
    display: flex;
}
.work-container-bottom .pic-inner{
    width: 100%;
    height: 30vw;
    max-height: 380px;
    display: flex;
    justify-content: space-between;
}

.work-container-bottom .pic-inner>*{
    /* width: 24%; */
    width: 24%;
    height: 100%;
    overflow: hidden;
}
.work-container-bottom .pic .pic1, .work-container-bottom .pic .pic4{
    /* align-self: end; */
    padding-bottom: 7%;

}
.work-container-bottom .pic .pic2, .work-container-bottom .pic .pic3{
    /* align-self: end; */
    padding-top: 7%;

}

.work-container-bottom .pic-inner>*>*{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.block-right{
    width: 55%;
    height: 150px;
    position: absolute;
    background-color: #DFD9D2;
    right: -50%;
    top: 11%;
}

.block-left{
    width:54%;
    height: 150px;
    position: absolute;
    background-color: #DFD9D2;
    top: 0%;
    left: -50%;
}


.block-bottom{
    width: 150vw;
    height: 250px;
    position: absolute;
    background-color: #DFD9D2;
    top: 76%;
    left: -50%;
    z-index: -1;
}

.work-outer-container .deco1{
    width: 40%;
    /* width: 100vw; */
    /* height: 800%; */
    position: absolute;
    top: 25%;
    right: 0%;
}
.work-outer-container .deco1 img{
    width: 100%;
}

.work-outer-container .deco2{
    /* width: 100vw; */
    width: 40%;
    position: absolute;
    top: 50%;
    left: 0%;
}
.work-outer-container .deco2 img{
    width: 100%;
}

@media screen and (max-width:850px){
    .work-outer-container{
        padding-bottom: 50px;
    }
    .work-container-top{
        display: block;
    }
    .work-container-top .txt{
        width: 100%;
        height: auto;
    }
    .work-container-top .txt .inner-txt{
        margin-top: 30px;
        margin-bottom: 8vw;
        width: 80%;
        margin-inline: auto;
    }
    .work-container-top .txt .inner-txt h3{
        margin-top: 0px;
        font-size: 24px;
        margin-bottom: 10px;

    }

    .block-right{
        right: -30%;
        height: 50px;
    }
    
    .work-container-middle{
        flex-direction: column-reverse;
        margin-top: 0;
        height: auto;
        margin-bottom:0;
    }

    .work-container-middle .pic{
        width: 80%;
        margin: auto;
    }
    .work-container-middle .pic .pic3{
        top: 200%;
    }
    .work-container-middle .txt{
        width: 80%;
        margin-inline: auto;
    }
    .work-container-middle .txt .inner-txt{
        margin-top: 72vw;
        width: 100%;
        margin-inline: auto;
        min-width: 0;
    }
    .work-container-middle .txt .inner-txt h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .work-container-middle .pic .pic3{
        left: 50%;

    }
    .block-left{
        height: 50px;
        top: 70vw;
        left: -20%;
    }
    .work-outer-container .deco1{
        top: 11%;
        display: none;
    }
    .work-container-top{
        margin-top: 50px;
    }
    .work-container-bottom{
        margin-top: 50px;
    }
    .work-container-bottom .txt{
        width: 80%;
    }
    .work-container-bottom .txt h3{
        font-size: 24px;
        text-align: left;
        margin-bottom: 10px;
    }
    .work-outer-container .deco2{
        display: none;
    }
    .work-container-bottom .pic-inner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: auto;
        max-height: 80vw;
        padding-inline: 10%;
        gap: 5%;
    }
    .work-container-bottom .pic .pic-inner>*{
        padding-top: 5%;
        padding-bottom: 0;
        width: 100%;
    }
    .block-bottom{
        height: 20vw;
        top: auto;
        bottom: -5%;
    }